/* GENERAL */
body { font-family: "Roboto", sans-serif; font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6 { font-family: "Poppins", sans-serif; }

h2, h3 { text-transform: uppercase; margin-top: 2rem; margin-bottom: 0rem; }

h2 { font-weight: bold; text-align: center; padding-bottom: 1rem; background-image: url("/pluribusdigital-com-preview/pr-197/img/template/h-underline.png"); background-repeat: no-repeat; background-position: center bottom; margin-bottom: 1rem; font-size: 2rem; }

h2.text-left { background-position: left bottom; }

h3 { font-size: 1.75rem; }

section.pd-interior h2 { background-position: left bottom; text-align: left; padding-bottom: 0.3rem; }

table { margin: 2rem auto 3rem auto; }

tr { border-bottom: 1px #ddd solid; }

th { border-bottom: 1px solid #333; }

td, th { padding: 0.5rem 0.5rem 0.5rem 0.5rem; }

tr:nth-child(even) { background-color: #f4f9fc; }

ul { margin-top: 2rem; }

.btn { text-transform: uppercase; border-radius: 0px; font-weight: bold; font-size: 0.9rem; padding: 0.7rem 1.4rem 0.7rem 1.4rem; }

.btn-danger { background-color: #be1e2d; border-color: #be1e2d; }

.btn-primary { background-color: #0071bb; border-color: #0071bb; }

p { margin-bottom: 0px; margin-top: 1rem; }

p.lead strong { font-size: 2rem; font-weight: bold; color: #033251; }

ul { list-style-type: square; }

a { text-decoration: underline; color: #0071bb; }

a.btn, nav a, a.pd-social { text-decoration: none; }

.text-primary { color: #0071bb !important; }

@media (min-width: 768px) { h2 { font-size: 2.5rem; }
  th, td { padding-right: 2rem; } }
/* SECTIONS/CONTAINERS */
.pd-highlight { background: #f4f9fc; }

.pd-bold-highlight, .pd-bold-highlight-dark { background-color: #00adee; color: #fff; background-image: url(/pluribusdigital-com-preview/pr-197/img/template/bold-bg.png); background-size: cover; background-repeat: no-repeat; }

.pd-bold-highlight-dark { background-image: none; background-color: #0071bb; }

@media (min-width: 1200px) { .container { width: 950px; } }
.pd-footer { background-color: #061b23; }

/* HEADER & HERO */
.pd-nav { font-size: 1.25rem; }

nav.pd-nav a { display: inline-block; }

nav.pd-nav a:hover { text-decoration: none; color: #be1e2d !important; }

.pd-site-header, .pd-hero { background: #f4f9fc; }

.pd-hero h1 { line-height: 95%; font-size: 3rem; font-weight: 700; }

.pd-hero h1 small { font-weight: 700; font-size: 2.5rem; }

.pd-hero .btn { margin-top: 3rem; }

@media (max-width: 767px) { img.pd-hero-img { max-height: 250px; max-width: 100%; } }
@media (min-width: 768px) { .pd-hero h1 { font-size: 4rem; line-height: 4.0rem; }
  .pd-hero h1 small { font-weight: 600; font-size: 3.0rem; line-height: 2.5rem; }
  img.pd-hero-img { height: 350px; width: auto; } }
/* ICON LIST */
.pd-icon-list-desc { padding-top: 1rem; }

.pd-icon-list-desc h3 { color: #033251; font-weight: bold; font-size: 2rem; }

@media (min-width: 768px) { .pd-corner-dkred:after, .pd-corner-dkblue:after, .pd-corner-blue:after, .pd-corner-orange:after, .pd-corner-red:after, .pd-corner-ltblue:after { content: ""; position: absolute; top: 0px; left: 0px; background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-dkred.svg) no-repeat 100%; width: 60px; height: 60px; }
  .pd-corner-dkblue:after { background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-dkblue.svg) no-repeat 100%; }
  .pd-corner-blue:after { background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-blue.svg) no-repeat 100%; }
  .pd-corner-orange:after { background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-orange.svg) no-repeat 100%; }
  .pd-corner-red:after { background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-red.svg) no-repeat 100%; }
  .pd-corner-ltblue:after { background: url(/pluribusdigital-com-preview/pr-197/img/template/corner-ltblue.svg) no-repeat 100%; } }
/* ICON CARDS */
div.card.pd-icon-card, div.card.pd-image-card { border: 0px; height: 100%; background: none; }

@media (min-width: 768px) { div.card.pd-icon-card, div.card.pd-image-card { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); background: #fff; } }
.pd-icon-card h3.card-title { text-transform: uppercase; font-weight: bold; color: #033251; font-size: 1.5rem; }

/* IMAGE GRID */
.pd-image-grid { max-width: 200px; max-height: 100px; }

.card.pd-image-card, .pd-image-card .card-img-top { width: 224px; }

/* CONTACT PAGE */
h2.pd-map-header { font-size: 1rem; background: none; }
